<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- VSSDK unauthenticated pre-release: use at your own risk. -->
    <add key="vssdk@Local" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/vssdk%40Local/nuget/v3/index.json" />
  </packageSources>
</configuration>